<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="row text-center">
      <a href="/"><img src="/assets/logo.png"></a>
    </div>
    <div class="row text-center">
      <a href="https://www.facebook.com/iviu.torre" style="margin-left:1em;margin-right:1em;"><i class="fa fa-facebook fa-5x" aria-hidden="true" id="social-icon"></i></a>
      <a href="https://www.instagram.com/iviu_torre/" style="margin-left:1em;margin-right:1em;"><i class="fa fa-instagram fa-5x" aria-hidden="true" id="social-icon"></i></a>
      <a href="mailto:iviu.torre@gmail.com" style="margin-left:1em;margin-right:1em;"><i class="fa fa-envelope fa-5x" aria-hidden="true" id="social-icon"></i></a>
    </div>
  </div>
</nav>
